.background1 {
 color:  #192f36
rgb(25,47,54)
}
.background2 {
color: #cce8eb
rgb(204,232,235)
}
.background3 {
color: #13abc2
rgb(19,171,194)
}
.background4 {
color: #74d4e4
rgb(116,212,228)
}
.background5 {
color: #0c9390
rgb(12,147,144)
}
.background6 {
color: #3a5a5e
rgb(58,90,94)
}
.background7 {
color: #206f74
rgb(32,111,116)
}
.background8 {
color: #949ca0
rgb(148,156,160)
}
.background9 {
color: #47d5e0
rgb(71,213,224)
}