.adminPage{
    display: flex;
    flex-direction: column;
    height: 120vh;
    background-image: linear-gradient(12deg, rgba(207,24,24, 0.06) 0%, rgba(207,24,24, 0.06) 2%,rgba(129,129,129, 0.31) 2%, rgba(129,129,129, 0.31) 27%,rgba(92,82,82, 0.08) 27%, rgba(92,82,82, 0.08) 66%,rgba(147,140,140, 0.14) 66%, rgba(147,140,140, 0.14) 100%),linear-gradient(321deg, rgba(240, 240, 240,0.05) 0%, rgba(240, 240, 240,0.05) 13%,rgba(114,91,91, 0.05) 13%, rgba(114,91,91, 0.05) 34%,rgba(139,139,139, 0.13) 34%, rgba(139,139,139, 0.13) 71%,rgba(112, 112, 112,0.05) 71%, rgba(112, 112, 112,0.05) 100%),linear-gradient(236deg, rgba(189, 189, 189,0.05) 0%, rgba(189, 189, 189,0.05) 47%,rgba(141,131,131, 0.05) 47%, rgba(141,131,131, 0.05) 58%,rgba(100,90,90, 0.05) 58%, rgba(100,90,90, 0.05) 85%,rgba(138,128,128, 0.42) 85%, rgba(138,128,128, 0.42) 100%),linear-gradient(96deg, rgba(53, 53, 53,0.05) 0%, rgba(53, 53, 53,0.05) 53%,rgba(44, 44, 44,0.05) 53%, rgba(44, 44, 44,0.05) 82%,rgba(77, 77, 77,0.05) 82%, rgba(77, 77, 77,0.05) 98%,rgba(142,125,125, 0.25) 98%, rgba(142,125,125, 0.25) 100%),linear-gradient(334deg, hsl(247,0%,2%),hsl(247,0%,2%));
}
.adminSections{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
}
.adminPanel {
    display: flex;
    align-items: center;
    padding: 20px;
}
.adminIcon {
    background-color: #333; /* Gray background color */
    padding: 10px;
    border-radius: 10px;
}
.adminText {
    color: #ffffff;
    margin-left: 5px;
}
 .sayfa{
    display: flex;
    flex-direction: row;
 }
.drawerContent {
    flex-direction: column;
    display: flex;
    gap: 10px;
    padding: 20px;
}
.adminIcon:hover {
    background-color: #555; /* Darker gray on hover */
}
.resetPasswordBox{
    background: rgba(255, 255, 255, 0.597);
    backdrop-filter: blur(10px);
    padding: 20px;
    border-radius: 10px;
    width: 400px;
    height: 250px;
    margin: 0 auto;
    text-align: center;
  }
  .editProfileBox{
    background: rgba(255, 255, 255, 0.597);
    backdrop-filter: blur(10px);
    padding: 20px;
    border-radius: 10px;
    width: 400px;
    height: 550px;
    margin: 0 auto;
    text-align: center;
  }
.resetInput {
    margin: 12px;
    flex-direction: column;
    display: flex;
    width: 80%;
    margin-bottom: 12px;
    color: #000;
    background-color: #c8c7c7;
}
.offerInput {
    margin-bottom: 5px;
    flex-direction: column;
    display: flex;
    width: 350px;
    color: #000;
    border: none;
    border-color: transparent;
    background-color: #c8c7c7;
}
.offerDate {
    width: 130px;
    margin: 7px;
    background-color: #c8c7c7
}
.homePage {
    text-align: center;
}
.altageç{
    flex-direction: column;
}